body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.move-icon{
    height: 50px;
}

.move-button{
    background-color: transparent;
    border:3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score{
    margin-top: 60px;
}

.reset-score-button,.auto-play-button,.confirmation-button{
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 17px;
    border-radius: 5px;
    cursor: pointer;
}

.reset-score-button:hover,.auto-play-button:hover,.confirmation-button:hover{
    transition: ease-in-out all 0.3s;
    background-color: rgb(46, 46, 46);
    color: white;
}

.confirmation{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.confirmation-button{
    margin-left: 8px;
    padding: 8px 12px;
}